* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  min-height: 100%;
}

body {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;

  margin: 0;

  font-family:
    Arial,
    Helvetica,
    sans-serif;

  background-color: #fffaf4;
}

button,
input {
  font: inherit;
}

#root {
  width: 100%;
  min-height: 100vh;
}